.banner {
    background-image: url('../../images/heartbanner.jpg');
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    object-fit: cover;
    margin-top: 0;
    /* opacity: 0.75; */
}

.banner h1 {
    color: #9468EB;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.containerbanner {
    margin-left: 250px;
}

  /* responsivity
  @media (min-width: 300px) {
	.containerbanner{
        margin-left: 10px;
    }
}


@media (min-width: 720px) {
    .containerbanner {
        margin-left: 150px;
    }
}

@media (min-width: 960px) {
    .containerbanner {
        margin-left: 250px;
    }
} */